<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    se creo {{ropa.id}} {{ropa.prenda}} xd
    <form method="post">
        {% csrf_token %}
    
    <label for="id_prenda">Prenda:</label>
    {{ form.prenda }}  
    {{ form.prenda.errors }}

    <label for="id_marca">Marca:</label>
    {{ form.marca }}  
    {{ form.marca.errors }}

    <label for="id_talla">Talla:</label>
    {{ form.talla }}  
    {{ form.talla.errors }}

    <button type='submit'> 
        CREAR ROPA
    </button>
    
</body>
</html>