


{% extends "index.html" %}

{% block title_head %}
Crear Ropa
{% endblock title_head %}

{% block h1_header %}Crear Ropa{% endblock h1_header %}

{% block main %}
<body>
    se creo {{ropa.id}} {{ropa.prenda}} xd
    <form method="post">
        {% csrf_token %}
    
    <label for="id_prenda">Prenda:</label>
    {{ form.prenda }}  
    {{ form.prenda.errors }}

    <label for="id_marca">Marca:</label>
    {{ form.marca }}  
    {{ form.marca.errors }}

    <label for="id_talla">Talla:</label>
    {{ form.talla }}  
    {{ form.talla.errors }}

    <button type='submit'> 
        CREAR ROPA
    </button>
    <form action={% url 'Crear_Ropa' %}></form>
    {% endblock main %}