{% extends "base.html" %}

{% block tittle_head %}
template 2
{% endblock tittle_head %}

{% block h1_masthead %}
<div class="masthead-heading text-uppercase">soy template 2</div> 
{% endblock h1_masthead %}


{% block main %}
    <h2>
        {{fecha_actual}}
    </h2>
    <p>
        Listado
    </p>
    <ul>
        {%for num in numeros%}
        {% if num > 5 %}        
        <li>{{num}}</li>
        {% elif num == 5 %}
        <li>soy el unico 5</li>
        {% else %}
        <li>soy menor a 5</li>
        {% endif %}
        {%endfor%}        
    </ul>

{% endblock main %}
</body>
</html>